# Proyecto
Consiste en crear modelos predictivos de regresión lineal uni-variable de la forma:

y = β0 + β1 ∗ x

Donde:

- y es la variable dependiente,
- x es la variable independiente,
- β0 es el intercepto de la recta,
- β1 es la pendiente de la recta.

In [6]:
# IMPORTACION DE LIBRERIAS 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

In [18]:
# IMPORTACION DEL ARCHIVO
directorio =r"./data/proyecto_training_data.npy"
datos = np.load(directorio)

# CREAR DATA SET
dataSet = pd.DataFrame(datos)

#COLOCAR ENCABEZADOS PARA EL DATASET
nombre_col = ['SalePrice', 'OverallQual', '1stFlrSF', 'TotRmsAbvGrd', 'YearBuilt', 'LotFrontage']
dataSet.columns = nombre_col

In [20]:
#VISTA PREVIA DEL DATASET
dataSet.head()

   SalePrice  OverallQual  1stFlrSF  TotRmsAbvGrd  YearBuilt  LotFrontage
0   208500.0          7.0     856.0           8.0     2003.0         65.0
1   181500.0          6.0    1262.0           6.0     1976.0         80.0
2   223500.0          7.0     920.0           6.0     2001.0         68.0
3   140000.0          7.0     961.0           7.0     1915.0         60.0
4   250000.0          8.0    1145.0           9.0     2000.0         84.0